[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Python Logo Color Scheme » Blue » SchemeColor.com
Type=Link
URL=https://www.schemecolor.com/python-logo-colors.php
Icon=text-html
